<div class="row">
  <div class="col footer d-flex flex-column flex-sm-row justify-content-between">
    <div>
      <span class="footer-text">&copy;Forecasty.ai</span>
    </div>
    <div class="footer-text d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
      <div>Contact Us</div>
      <div class="footer-dot d-none d-sm-block"></div>
      <div>Privacy Policy</div>
      <div class="footer-dot d-none d-sm-block"></div>
      <div>Terms & Conditions</div>
    </div>
  </div>
</div>