<div class="row">
	<div class="col d-flex flex-column flex-md-row">
		<div class="box-one d-flex flex-column align-items-center ">
      <fc-dataset-upload></fc-dataset-upload>		
		</div>
    <div class="middle-content d-flex flex-column justify-content-center align-items-center">
      <div class="middle-line d-none d-md-block"></div>
      <div class="text-light my-2">OR</div>
      <div class="middle-line d-none d-md-block"></div>
    </div>
    <div class="box-two p-5">
      <fc-dataset-list></fc-dataset-list>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-right">
    <button type="button" class="btn btn-primary project-btn">Start Project
      <span><i class="fa fa-arrow-right ml-5 project-btn-arrow" aria-hidden="true"></i></span> </button>
  </div>
</div>