.search-bar {
  margin-top: 30px;
  width: 200px;
  position: relative;
}

.search-bar .search-input {
  background: transparent;
  border: 1px solid rgb(128, 128, 128, .16);
  padding: 7px 15px;
  color: white;
}


.search-bar .search-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 16px;
  color: rgb(128, 128, 128, .16);
}

.table-container {
  margin-top: 20px;
  overflow-y: auto;
  height: 280px;
}

table {
  width: 80%;
}

table, thead, tr {
  border-bottom: 1px solid rgb(128, 128, 128, .16);
}

table thead tr th:first-child {
  padding-left: 35px;
}

th, tr, td {
  padding: 5px;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 28px;
  margin: 0;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="radio"], [type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

[type="radio"]:checked, [type="checkbox"]:checked~.checkmark .checkmark-icon {
  display: block;
  opacity: 1;
  background: #29e0f8;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #29e0f8;
  border-radius: 2px;
}

.checkmark-icon {
  position: absolute;
  color: rgb(73, 73, 73);
  display: none;
  font-size: 13px;
}

/* scrollbar */

.table-container::-webkit-scrollbar {
  width: 5px;
}

.table-container::-webkit-scrollbar-track {
  background: rgb(73, 73, 73);
  border-radius: 20px;
}

.table-container::-webkit-scrollbar-thumb {
  background: rgba(rgb(182, 182, 182));
  border-radius: 20px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 175, 175);
}

/* end of scroobar */